# build output
dist/
.output/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS / editors
.DS_Store
.idea
.vscode/

# Astro
.astro/

# Claude
CLAUDE.md

# Images
IMAGES.md